
.search[data-v-2ae0e5db] {
  text-align: center;
}
input[type='search'][data-v-2ae0e5db] {
  max-width: 200px;
}
.card[data-v-2ae0e5db] {
  background-color: rgb(0 0 0 / 0%);
  border: none;
  align-items: center;
  cursor: pointer;
}
.card > div[data-v-2ae0e5db] {
  align-self: center;
}
.card > div > *[data-v-2ae0e5db] {
  display: block;
}
.card img[data-v-2ae0e5db] {
  border-radius: 10%;
}
button.clear[data-v-2ae0e5db] {
  font-size: 0.5em;
}

