
.custom-file-upload[data-v-3000070b] {
  background-color: orangered;
  border-radius: 2rem;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}


.found-img[data-v-dc007110] {
  float: left;
}
.mystery-img[data-v-dc007110] {
  float: right;
}

