.bg-go-next {
  background-color: green;
}
.bg-go-post {
  background-color: purple;
}
.custom-file-upload {
  background-color: orangered;
  border-radius: 2rem;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

body {
  height: 100vh;
}

.logo {
  content: url('../images/iManagur.png');
}

#app,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  color: cadetblue;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    /* background-color: black; */
    /* color: white; */
  }
  .logo {
    content: url('../images/iManagur-dark.png');
  }

  #app,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button {
    color: olive;
  }

  .card {
    background-color: black;
  }

  #app {
    filter: invert(100%);
  }
  #app > * {
    filter: invert(100%);
  }
}
